.gradient-hello {
  background-image: linear-gradient(
    to right,
    #f49c2a,
    #f7b764,
    #ffba08,
    #d35100,
    #f25c54,
    #f49c2a
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 9s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.gradient-hello-blue {
  background-image: linear-gradient(
    to right,
    #20d3fe,
    #92c7f7,
    #8ba1f7,
    #b094f6,
    #7870f8,
    #92c7f7,
    #20d3fe
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 9s infinite alternate-reverse;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.n-button {
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 10px 10px 23px #b8b8b8, -10px -10px 23px #ffffff;
}
